<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kore.ntnu.no.safespace">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-sdk
        android:minSdkVersion="21"/>

    <application
        android:name=".utils.ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ss_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ss_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainNavigationMenuActivity" />
        <activity
            android:name=".activities.ReportActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainNavigationMenuActivity" />
        <activity
            android:name=".activities.DocumentActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainNavigationMenuActivity" />
        <activity
            android:name=".activities.GPSActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.LatestReportActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainNavigationMenuActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainNavigationMenuActivity" />
        <activity
            android:name=".activities.HelpActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainNavigationMenuActivity" />
        <activity
            android:name=".activities.ProjectActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainNavigationMenuActivity" />
        <activity
            android:name=".activities.DisplayReportActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.LatestReportActivity" />
        <activity
            android:name=".activities.RegisterUserActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".activities.RegisterLocationActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MapsActivity"/>

        <service
            android:name=".service.LocationService"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="no.ntnu.kore.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>